*{
    list-style: none;

} 

.navbar .nav-item :first-child {
 font-size: 25px;
 font-weight: bold;

}
.mygreencolor{
    color: #7FFF00 !important;
}

.white-color{
    color: white !important;
}

.navbar .active{
    color: red !important;
}

.black-color{
    color: black !important;
}

.navbar a .logo{
max-width: 50px;
margin-right: 30px;
}

.dropdown-toggle{
    padding: 10px 0;
}



.center-Y{
    position: absolute;
    top: 50%;
    width: 100%;
    left: 50%;
    transform: translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    margin: 0 !important;
}
.myform{
    margin: 0 auto;
    padding: 0;
    width: 100%;
   
}
.smooth{
    transition: all ease 5s;
    -webkit-transition: all ease 5s;
    -moz-transition: all ease 5s;
    -ms-transition: all ease 5s;
    -o-transition: all ease 5s;
}
.color_white{
    color:white;
}
.flex-derection-v{
    flex-direction: column;
}


.add-item_btn:hover{
   background-color: rgb(61, 224, 83); 
}
.add-item_btn{
    width: 60px;
    background: #6c757d;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 30px;
    color: white;
    z-index: 999999;
    position: fixed;
    right: 10px;
    bottom: 5px;;
}
.mymargin-log_out{
    margin-right: 120px;
}
/* start add user */
.myselect{
    width: auto;
    margin-top: -25px;
    display: none;
}
.check-boxes{
    display: block;
}
.under-working{
    display: flex;
    flex-direction: column;
}
/* end add user */

.btn_behalter{
    display: flex;
}

.fix-a-btn a{
    text-decoration: none;
    color: white;
}
.alert-font-size{
    font-size: 30px;
}
.body{
    min-height: calc(100vh - (204px)) ;

}

.myaddbody {
    font-family: sans-serif;
    background-color: #eeeeee;
    padding-bottom: 50px;
    padding-top: 25px;
}

/* starting add item page */
.myrow{
    margin-top: 70px;
}

.btn-add-item{
    width: 100px;
}


@media (min-width:768px) {
    .card-float-left{
        float: right;
    }   
    .form-add-item{
        margin-top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }
}


.card img{
    max-height: 75%;
    object-fit:fill;
}

.width-card{
 max-width: 100%;
}

@media (max-width:768px) {
    .form-add-item{
      margin-bottom: 100px; 
    }  
    .width-card {
        max-width: 100%;
    } 
  
}

.mycard{
 width: 100%;
 min-height: 600px;
 max-height: 600px;
}
.mycard .Price-area{
    max-width: 90%;
    max-height: 45px;
    overflow: hidden;
    bottom: 0px;
    right: 0px;
    background-color: rgba(202, 167, 167, 0.312);
    position: absolute;
    padding: 10px 5px;
   }
   .center-card{
    display: flex;
    justify-content: center;
}

.form-add-item{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}



.myimg{
    min-height: 70%;
}

.card-body .mydesc{
    overflow: hidden;
    max-height: 70px;
    font-family: cursive;
    font-size: 22px;
  
}
.card-body .mytitel{
    overflow: hidden;
    max-height: 35px;
    font-size: 30px;
        max-width: 90%;
        letter-spacing: 3px;
        font-weight: bold;

}
.mycardbody{
    max-height: 185px;

}

.all_btn{
    display: flex;
    justify-content: flex-end;
}
.clear-btn{
    margin-right: 20px;
    width: 100px;
}
.up-file {
    background-color: rgb(163, 163, 163);
    position: relative;
    height: 40px;
    margin-bottom: 10px;
}
.up-file input[type="file"]{
opacity: 0;
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
z-index: 5;
}
.up-file .up_txt{
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 11px;
    color: white;
}
.up-file::after{
    content: "Click";
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 11px;
    color: black;
    position: absolute;
    right: 0;
    background-color: #eeee;
    height: 100%;
    font-size: 25px;
}

/*end add item page */



                                /* style V 1.0 */
/* starting currency */
/* .wahrung li a span{
text-transform: uppercase;
float: right;
padding-right: 30px;
margin-left: 20px;
}
.wahrung li a {
 text-decoration: none;
 color: white;
}

.wahrung div{
    padding: 15px 40px;
    background-color: black;
    color: white;
    position: relative;
    left:-155px;
    transition:all 0.2s ease ;
    -webkit-transition:all 0.2s ease ;
    -moz-transition:all 0.2s ease ;
    -ms-transition:all 0.2s ease ;
    -o-transition:all 0.2s ease ;
}
.wahrung li:hover{
background-color: rgb(118, 187, 233);
}

.wahrung li{
padding: 15px 0 15px 40px;
background-color: rgba(0, 0, 0, 0.4);
cursor: pointer;
}
.wahrung .active{
background-color: rgb(118, 187, 233);   
}

.wahrung {
    position: fixed;
    top: 30%;
    left: -180px;
    padding: 0%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition:all 1s ease ;
    -webkit-transition:all 1s ease ;
    -moz-transition:all 1s ease ;
    -ms-transition:all 1s ease ;
    -o-transition:all 1s ease ;
}
.wahrung:hover > div {
    left: 0px;
}
.wahrung:hover  {
    left: 0px;
}

.wahrung * {
margin-bottom: 10px;
}
.wahrung li:last-child {
    margin-bottom: 0px;
} */
/* end currency */

                         /*end style V 1.0 */


                        /* style V 2.0 */
.wahrung:hover li {
     display: block;
     transition: all 0.7 ease-in-out ;
     -webkit-transition: all 0.7 ease-in-out ;
     -moz-transition: all 0.7 ease-in-out ;
     -ms-transition: all 0.7 ease-in-out ;
     -o-transition: all 0.7 ease-in-out ;
}

.wahrung li{
display: none;
padding: 5px 20px;
}

.wahrung:hover  li a {
text-decoration: none;
color: #0DB8DE;
}

.wahrung:hover li a::before {
font-family: "Font Awesome 5 Free";
font-weight: 400;
content: "\f0a4";
margin-right: 10px;
font-size: 15px;
}


.wahrung div {
    font-size: 30px;
    color: #0DB8DE;
    font-weight: bold;
    letter-spacing: 1px;
}

.wahrung {
/* border: 1px solid black; */
}
    










                        /* end style V 2.0 */



/* start table show user */
.show-user-tab {
    margin-bottom: 100px;
}

.show-user-tab th{
    font-style: oblique;
}

.show-user-tab td{
    font-family: cursive;
    font-size: 16px;
    background-color: #eeee;
}

/* end table show user */




.black_a_tag{
cursor: pointer;
color: black !important;
}




/* satrt footer */
footer{
    padding-top:40px ;
    padding-bottom: 10px;
   
    /* background-color: #f0ffff9c; */
    background-color: #15b8b89c;
}
footer .foter-img-cont{
    margin-bottom: 20px;
}
 footer ul ,footer h4 {
    margin-bottom:10px;
}
footer p{
    margin-top: 0;
}


.myVcenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.myHcenter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
footer ul{
display: flex;
padding: 0;
}
footer ul  li{
    margin: 0 12px;
}
footer .name{
    color: #ff730d;
}

    /* end footer */





/* starting show card  */
 .overlay{
    position: absolute;
    height: calc(100% - 24px );
    width: 100%;
    top: 24px;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 5;
   
}

.card-block{
    padding: 0 ;
}

.overlay::before{
    content: "Not Approved";
    padding: 10px;
    z-index: 6;
    position: absolute;
    top: 0;
    left:0;
    background-color: #ff720de8;;
    color: white;

} 


.mycont{
    display: flex;
}

.my-show-card {
display: flex;
width:100%;
border: 1px solid black;
position: relative;
}
.show-card-title{
    max-width: 60%;
    overflow: hidden;
    max-height: 28px;
    overflow-wrap: anywhere;
    padding: 2px 0;
}

.my-show-card .img-div{
max-height: 200px;
min-height: 100px;
max-width: 20%;
}
.my-show-card img{
    height: 100%;
}
.my-show-card .card-body{
    border-left: 1px solid black;

}

.show-money{
    position: absolute;
    right: 0px;
    bottom: 0px;
    background-color: #e5b593;
    padding: 7px;
}
.show-btns-div{
    margin-top: 25px;
    margin-top: 25px;
    position: absolute;
    top: -20px;
    right: -4px;
    z-index: 6;

}
@media (max-width:767px) {
   
        .show-money {
            right: 0px;
            bottom: 0px;
            max-height: 36px;
            
        }
    .show-btns-div  {    
        display: flex;
        position: absolute;
        right: -24px;
        top: -47px;
        margin-top: 0px;
    }
    .card-block{
        margin-bottom: 50px !important;
    }
    
}
.show-btns-div a{
    margin-top: 25px;
    text-decoration: none;
color: white;
}




/* end show card  */



/* start modification item page */
.modify-form{
    background-color: #eeeeee;
    display: flex;
    width: 100%;
    margin: auto;
    flex-direction: column;
    align-items: center; 
    padding: 20px;
}
@media (min-width:991px) {
    .modify-form{ 
        width: 50%;
    }
}
@media (max-width:767px) {
    .myh1{ 
        letter-spacing: -2px;
    }
}

.update_btnn{
    align-self: flex-end;
}
.myselect_update{
    width: 140px;
    align-self: flex-start;
}
.modify-form .mylabel{    
    font-size: 20px;
    position: relative;

}
.imgn{
border: 1px solid black;
}
/* end modification item page */

/* start admin page styling */
.form-login{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-gap: 20px;
    margin: 100px auto;
    padding: 50px 0;
    }
    
    .form-login input::placeholder{
    color:white;
    padding-left: 10px;
    }
    .form-login input{
    width: 300px;
    height: 30px;
    border: none;
    outline: none;
    background-color: rgba(241, 234, 234, 0.349);
    padding-left: 20px;
    color: white;
    }

    .form-login input:focus {
        color: white;
    }
    .form-login input:blur {
        color: white;
    }

    .form-login button{
    border: none;
    background-color: #dc3545;
    padding: 0 20px;
    padding: 15px 25px
    }
    .form-login a{
        color: white;
        text-decoration: none;
    }
    
    /* end admin page styling */
    
    
    
    /* edit_from styling :start */
    
    .edit-form{
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        padding: 20px;
        justify-content: center;
        align-items: center;
        grid-gap: 30px;
        background-color: rgb(169, 226, 248);
       margin-bottom: 30px;
    }
    
    
    
    .edit-form input{
    max-width: 340px;
    margin-top: 10px;
    border: none;
    outline: none;
    
    
    }
    
    .but-edit{
        padding: 15px 20px;
    }
    
    
    .label-input{
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    
    .edit-page-titel{
        margin-top: 20px;
        text-align: center;
        font-size: 50px;
    }
    
    .msg-edit{
        text-align: center;
        padding: 20px;
        background-color: coral;
        font-size: 30px;
        margin-bottom: 20px;
    }
    
    /* edit_from styling end */



/* ++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* start log in page */
.log-in-body {
    background-color: #222D32;
    font-family: 'Roboto', sans-serif;
}
.log-in-body a{
    text-decoration: none;

}



.log-in-body .login-box {
    padding: 75px 50px;
    height: auto;
    background: #1A2226;
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.log-in-body .login-key {
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.log-in-body .login-key a {
    height: 100px;
    font-size: 80px;
    line-height: 100px;
    background: -webkit-linear-gradient(#27EF9F, #0DB8DE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0DB8DE;
}
.log-in-body .login-title {
    margin-top: 15px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-top: 15px;
    font-weight: bold;
    color: #ECF0F5;
}

.log-in-body .login-form {
    margin-top: 25px;
    text-align: left;
}

.log-in-body input[type=text] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    margin-bottom: 20px;
    padding-left: 0px;
    color: #ECF0F5;
}

.log-in-body input[type=password] {
    background-color: #1A2226;
    border: none;
    border-bottom: 2px solid #0DB8DE;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 0px;
    margin-bottom: 20px;
    color: #ECF0F5;
}

.log-in-body .form-group {
    margin-bottom: 40px;
    outline: 0px;
}

.log-in-body .form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0DB8DE;
    outline: 0;
    background-color: #1A2226;
    color: #ECF0F5;
}

.log-in-body input:focus {
    outline: none;
    box-shadow: 0 0 0;
}

.log-in-body label {
    margin-bottom: 0px;
}

.log-in-body .form-control-label {
    font-size: 20px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 3px;
}

.log-in-body .btn-outline-primary {
    border-color: #0DB8DE;
    color: #0DB8DE;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.log-in-body .btn-outline-primary a {
    color: #0DB8DE;
    font-weight: bold;
    letter-spacing: 1px;
}
.loginbttm .mya{
    color: #0DB8DE;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    display: block;
    margin-top: 30px;
}

.log-in-body .btn-outline-primary:hover {
    background-color: rgb(118, 187, 233,0.4);
    right: 0px;
}

.log-in-body .login-btm {

}

.log-in-body .login-button {
    padding-right: 0px;
    text-align: right;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    width: 100%;
}

.log-in-body .login-text {
    text-align: left;
    padding-left: 0px;
    color: #A2A4A4;
}

.log-in-body .loginbttm {
    padding: 0px;
}

/* endlog in page */